<div id="makeBG">
  <h2 style="text-align: center;">Tẻwrwrer</h2>
  <form class="w-50 container-fluid mt-3 shadow bg-light" [formGroup]="newCustomerUpdate" *ngIf="newCustomerUpdate" (ngSubmit)="update(id)">
    <div class="row">
      <div class="col-12">
        <div class="mb-4">
          <label class="form-label mt-3 text-success fw-bold">Chọn loại khách hàng</label>
          <select class="form-control" formControlName="customerType">
            <option *ngFor="let type of customerType" [ngValue]="type.id">{{type.typeName}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Họ tên </label>
          <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="name">
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Ngày sinh</label>
          <input type="date" class="form-control" aria-describedby="emailHelp" formControlName="dateOfBirth">
        </div>

        <div class="mb-3">
          <label class="form-label text-success fw-bold" >Giới tính</label>
          <select class="form-control" formControlName="gender">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Số CMND</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="idNumber">
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Số Điện Thoại</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="phone">
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Email</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="email">
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Địa chỉ </label>
          <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="address">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
