<div id="makeBG">
  <h2 style="text-align: center;">Trang chỉnh sửa khách hàng</h2>
  <form class="w-50 container-fluid mt-3 shadow bg-light">
    <div class="row">
      <div class="col-12">
        <div class="mb-4">
          <label class="form-label mt-3 text-success fw-bold">Chọn loại khách hàng</label>
          <select class="form-control">
            <option value="1">Diamond</option>
            <option value="2">Platinium</option>
            <option value="3">Gold</option>
            <option value="4">Silver</option>
            <option value="5">Member</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Họ tên </label>
          <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Ngày sinh</label>
          <input type="date" class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label class="form-label text-success fw-bold">Giới tính</label>
          <select class="form-control">
            <option value="1">Nam</option>
            <option value="2">Nữ</option>
          </select>>
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Số CMND</label>
          <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Số Điện Thoại</label>
          <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Email</label>
          <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label class="form-label text-success fw-bold">Địa chỉ </label>
          <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
