<div class=" text-center mt-3"><h3 id="heading">Danh sách khách hàng</h3></div>
<div class="row">
  <div class="col-6">
    <input class="form-control me-2 rounded-pill" type="search" placeholder="Tên Nhà Xe"
           aria-label="Search" #name>
  </div>
  <div class="col-4">
    <div>
<!--      <select #typeId>-->
<!--        <option value="0">Chọn</option>-->
<!--        <option *ngFor="let type of customerType" value="{{type.id}}">{{type.typeName}}</option>-->
<!--      typeId.value-->
<!--      </select>-->
      <button class="btn btn-outline-success rounded-pill" (click)="search(name.value)">Tìm</button>
    </div>

  </div>
  <div class="col-2">
  </div>
</div>

<div class="row mt-3" id="needBg">
  <div>
    <table class="table table-striped table-bordered" style="width: 100%" id="tableCustomer">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Số xe</th>
        <th scope="col">Loại xe</th>
        <th scope="col">Tên nhà xe</th>
        <th scope="col">Điểm đi</th>
        <th scope="col">Điểm đến</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Email</th>
        <th scope="col">Giờ đi</th>
        <th scope="col">Giờ đến</th>
        <th scope="col">Xóa</th>
        <th scope="col">Cập nhập</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let home of carHomes | paginate: { itemsPerPage: 3, currentPage: p },let i=index">
        <td>{{i + 1}}</td>
        <td>{{home.plate}}</td>
        <td>{{home.carType}}</td>
        <td>{{home.name}}</td>
        <td>{{home.startDestination.name}}</td>
        <td>{{home.endDestination.name}}</td>
        <td>{{home.phone}}</td>
        <td>{{home.email}}</td>
        <td>{{home.timeGo}}</td>
        <td>{{home.timeEnd}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="getInfor(home)"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-trash" viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </button>
        </td>
        <td>
          <a class="btn btn-primary"
             role="button" [routerLink]="['/carHome/update',home.id]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-pen"
                 viewBox="0 0 16 16">
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
            </svg>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa Thông tin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <span> Tên nhà xe :</span>
          <p *ngIf="carHomeInfor">{{carHomeInfor.name}}</p>
          <span>Thời gian đi :</span>
          <p *ngIf="carHomeInfor">{{carHomeInfor.timeGo}}</p>
          <span>thời gian đến :</span>
          <p *ngIf="carHomeInfor">{{carHomeInfor.timeEnd}}</p>
          <span>Điểm xuất phát :</span>
          <p *ngIf="carHomeInfor">{{carHomeInfor.startDestination.name}}</p>
          <span>Điểm đến :</span>
          <p *ngIf="carHomeInfor">{{carHomeInfor.endDestination.name}}</p>
          <span>Số điện thoại</span>
          <p *ngIf="carHomeInfor">{{carHomeInfor.phone}}</p>
          Bạn có chắc là xóa thông tin này không ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No
          </button>
          <button type="submit" class="btn btn-primary" (click)="delete(carHomeInfor.id)" data-bs-dismiss="modal">Yes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
