<a [routerLink]="['create']">Thêm mới sản phẩm</a>
<table>
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Mô tả</th>
    <th>Thể loại</th>
    <th>Chỉnh sửa</th>
    <th>Xóa</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td><button type="button" (click)="delete(product.id)">Xóa</button></td>
    <td><button type="button" [routerLink]="['/update',product.id]" >Xóa</button></td>
  </tr>
</table>
