#nav101 {
  background: linear-gradient(to right, #00c6ff, #0072ff);    }

a {
  font-family: Comic Sans MS, serif;
  color: #b6d4fe;
}

.nav-link {
  color: #b6d4fe;
}

#form101 {
  font-family: Comic Sans MS, serif;
}
